@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro Došli!</h1>
    <b>Unesi novog korisnika</b>
    <form action="#" id="postForma">
        Id:<input name="Id" id="Id" type="text" />
        Ime:<input name="Ime" id="Ime" type="text" />
        Prezime:<input name="Prezime" id="Prezime" type="text" />

        <br />
        Ulica:<input name="Ulica" id="Ulica" type="text" />
        <br />
        Grad:<input name="Grad" id="Grad" type="text" />
        <br />
        Poštanski broj:<input name="PoštanskiBroj" type="text" />
        <br />
        Broj ukućana:<input name="BrojUkućana" type="text" />
        <br />
        Upit:<input name="Upit" id="Upit" type="text" />
        <br />
        <input name="submit" type="submit" />
    </form>
    <br />
    <b>Za pronalazak korisnika upiši ID</b>
    <form action="#" id="getid">
        ID:<input name="Id" id="Id" type="number" />
        <input name="submit" type="submit" />
    </form>
    <button type="button" id="get">
     GET

    </button>
</div>
