@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Dobro Došli!</h1>
        <b>Unesi novog korisnika</b>
 
            Id:<input name="Id" id="Id" type="text" /><button type="button" id="dohvati">dohvati</button>
        <br />
            Ime:<input name="Ime" id="Ime" type="text" />
            Prezime:<input name="Prezime" id="Prezime" type="text" />

            <br />
            Ulica:<input name="Ulica" id="Ulica" type="text" />
            <br />
            Grad:<input name="Grad" id="Grad" type="text" />
            <br />
            Poštanski broj:<input name="PostanskiBroj" id="PostanskiBroj" type="text" />
            <br />
            Broj ukućana:<input name="BrojUkućana" type="text" />
            <br />
            Upit:<input name="Upit" id="Upit" type="text" />
            <br />
          <button id="putmetoda" type="button">PUT</button>
     
        <br />
        <b>Za pronalazak korisnika upiši ID</b>

        ID:<input name="Id" id="Id4" type="number" />
        <button type="button" id="getid">Get by id</button>
        <div id="content" style="width:500px; height:500px;">
            ydf
        </div>

        <button type="button" id="get">
            GET

        </button>


        <br />
        <br />
        DELETE ID:<input name="Id" id="Id4delete" type="number" />
        <button type="button" id="deleteid">del by id</button>
    </div>
